<h2>Personaje</h2>
<div class="d-flex justify-content-between">
  <button (click)="volver()"
          type="button"
          class="mr-auto btn btn-outline-danger"
          name="button">
          volver
  </button>
</div>

  <div class="d-flex justify-content-between">
  </div>
<div class="row ficha" *ngIf="personaje">
  <div class="col col-md-7 ficha">
    <div class="row">
      <p>
        Nombre: <strong class="character">{{personaje.nombre}}</strong>
      </p>
    </div>
    <div class="row">
      <p>
        Tipo: <strong class="character">{{personaje.tipo}}</strong>
      </p>
    </div>
    <div class="row">
      Bio:
      <p>
        <strong class="character">{{personaje.bio}}</strong>
      </p>
    </div>
  </div>
  <div class="col col-md-1">
  </div>
  <div class="col col-md-3">
    Aparicion: <strong class="character">{{personaje.aparicion}}</strong>
    <div class="row">
      Avatar:
    </div>
    <div class ="row">
      <div><img src="{{personaje.imagen}}"  onError="this.src = 'assets/img/noimage.png'" alt="Avatar Heroe" class="minImagen"></div>
    </div>
  </div>
  <button (click)="editarPersonaje()"
          type="button"
          class="btn btn-outline-primary btn-circle fa fa-pencil"
          name="button">
    Editar
  </button>
  <button type="button"
          class="btn btn-outline-primary btn-circle fa fa-trash collapsed"
          data-toggle="collapse"
          data-target="#confirmacion"
          name="button">
    Borrar
  </button>
  <div id="confirmacion" class="collapse ficha">
    <div class="row">
      <div>
        ¿Estás seguro de querer borrar a <strong>{{personaje.nombre}}</strong> de la base de datos?
      </div>
      <div>
        <button (click)="borrarPersonaje()"
                type="button"
                class="btn btn-outline-primary fa fa-check"
                name="button">
                Aceptar
        </button>
        <button type="button"
                class="btn btn-outline-primary btn-circle fa fa-times collapsed"
                data-toggle="collapse"
                data-target="#confirmacion"
                name="button">
                Rechazar
        </button>
      </div>
  </div>
</div>
