<p>
  Información sobre la aplicación:
</p>
<div>
  <p>
    En esta aplicación Web vamos a conectar con una base de datos externa Firebase proporcionada por google®. En ella
    podremos modificar sus datos, añadiendo, eliminando o modificando sin tener consciencia de como está estructurada.
  </p>
  <p>
    La aplicación Web cuenta con una serie de herramientas para usar esta base de datos. A continuación, se detalla
    brevemente una pequeña descripción sobre los componentes que está posee, para una descripción más detallada, puedes
    hacer click sobre cualquiera de ellos y te mostrará como funciona cada componente
  </p>
    <ul>
      <li><a type="text" data-toggle="collapse" data-target="#heroes"><strong>Heroes</strong></a></li>
      <div id="heroes" class="collapse">
        <p>
          Muestra una lista simplificada de todos los personajes de tipo "heroe" almacenados en la base de datos.
          Puedes hacer click sobre el botón "Ver mas..." situado debajo de cada personaje para ver su ficha completa.
          Así como para editarlo o eliminarlo de la base de datos
        </p>
      </div>
      <li><a type="text" data-toggle="collapse" data-target="#villanos"><strong>Villanos</strong></a></li>
      <div id="villanos" class="collapse">
        <p>
          Muestra una lista simplificada de todos los personajes de tipo "villanos" almacenados en la base de datos.
          Puedes hacer click sobre el botón "Ver mas..." situado debajo de cada personaje para ver su ficha completa.
          Así como para editarlo o eliminarlo de la base de datos
        </p>
      </div>
      <li><a type="text" data-toggle="collapse" data-target="#anadir"><strong>Añadir</strong></a></li>
      <div id="anadir" class="collapse">
        <p>
          Situado a la izquierda del buscador. Podrás acceder al formulario que debes rellenar para incluir tu propio
          personaje en la base de datos. Los campos serán validados acorde a unos criterios ya establecidos en el mismo
          componente.
        </p>
      </div>
      <li><a type="text" data-toggle="collapse" data-target="#buscar"><strong>Buscar</strong></a></li>
      <div id="buscar" class="collapse">
        <p>
          Realiza una búsqueda por nombre de todos los personajes que se encuentran actualmente en la base de datos.
          La búsqueda será a través de la función "include()" lo cual mostrará todos los resultados que incluyan la
          cadena de caracteres que has introducido para buscar. Así como si el buscador está vacio, esté te mostrará
          todos los personajes.
        </p>
      </div>
      <li><a type="text" data-toggle="collapse" data-target="#actualizar"><strong>Actualizar</strong></a></li>
      <div id="actualizar" class="collapse">
        <p>
          Vacia y vuelve a generar la lista de personajes <strong>local</strong>, sincronizándola con la base de datos online de
          firebase
        </p>
      </div>
      <li><a type="text" data-toggle="collapse" data-target="#about"><strong>About</strong></a></li>
      <div id="about" class="collapse">
        <p>
          Muestra información sobre la aplicación y sus componentes.
        </p>
      </div>
    </ul>
    <p>
      Toda URL introducida que no lleve directamente a un componente enrutado, será redirigido automáticamente a la página
      <a [routerLink]="['home']">"Home" <span class="sr-only">(current)</span></a> con excepción de la búsqueda "vacía".
      La cual te deberá redirigir a la URL "search" sin ningún elemento adicional, mostrándote como resultado la lista
      completa de personajes.
    </p>
</div>
<div class="col">
  <div>
    Formularios:
  </div>
  <div>
    <div class="row">
      <div class="col-md-4">
        Formulario no válido
        <img class="img-about" src="assets/img/formNoValid.png">
        Indicado por los signos <img src="assets/img/danger.png">
      </div>
      <div class="col-md-4">
        Formulario válido
        <img class="img-about" src="assets/img/form.png">
        Indicado por los signos <img src="assets/img/check-mark-2-xxl.png">
      </div>
    </div>
  </div>
</div>
