<div>
  <h1>Héroes ({{listaHeroes.length}})</h1>
  <div class="card-columns">
    <div *ngFor="let key of listaHeroes | keyValor: ejecutarPipe;" class="card border-0">
      <div class="card-border-0">
        <div class="d-flex justify-content-center">
          <a (click)="verDetalle(listaHeroes[key].key)"><img class="card-img-top img-fluid rounded-circle"
            [src]="listaHeroes[key].personaje.imagen" onError="this.src = 'assets/img/noimage.png'"
            [alt]="listaHeroes[key].personaje.nombre"></a>
        </div>
        <div class="card-block">
          <h4 class="card-title">
            {{listaHeroes[key].personaje.nombre}}
          </h4>
          <p class="card-text">
            {{listaHeroes[key].personaje.bio | slice:0:175}}...
          </p>
          <p class="card-text">
            <small class="text-muted">{{listaHeroes[key].personaje.aparicion}}</small>
          </p>
        </div>
        <button (click)="verDetalle(listaHeroes[key].key)" type="button"class="btn btn-outline-primary btn-block col-md-9" style="margin-left: 15%">
          ver mas...
        </button>
      </div>
    </div>
  </div>
</div>
