<heroes-api-navbar></heroes-api-navbar>

<div class="page">
  <div class="row">
      <div class="col-md-2">
        <img class="bando img-circle inicio-heroes" src="./assets/img/shield-60.png">
      </div>
      <div class="col-md-8">
        <p class="title">
          HEROES VS VILLANOS
        </p>
      </div>
      <div class="col-md-2">
        <img class="bando img-circle inicio-villanos" src="./assets/img/hydra-60.png">
      </div>
    </div>
  <div class ="container at-3">
    <router-outlet></router-outlet>
  </div>
</div>
