.minImagen, .rounded-circle{
  width: 120px;
  height: 120px;
  padding: 5px;
}
.img-fluid{
  width: 150px;
  height: 150px;
  padding: 5px;
}
.character{
  text-align: center;
  font-size: 18px;
  white-space:pre-wrap;
}
.tdNombre{
  width: 18%;
  min-width: 150px;
}
.thNumber{
  width: 2%;
}
.tdTipo{
  width: 10%;
}
.tdOptions{
  overflow-x: auto;
  width: 70%;
  min-width: 300px
}
.bcg{
  opacity: 0.2;
}
.ficha{
  padding-left: 15px;
}

.has-danger{
  border: 1px solid red;
  background-image: url("./assets/img/danger.png");
}

.has-warning{
  border: 1px solid orange;
    background-image: url("./assets/img/warning-5-xxl.png");
}

.has-success{
  border: 1px solid green;
    background-image: url("./assets/img/check-mark-2-xxl.png");
}

.form-control{
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right .5625rem;
}

.danger{
  color: red;
}

.warning{
  color: orange;
}

.success{
  color: green;
}

.fa{
  margin-right: 10px;
  margin-left: 10px;
}

.fa-trash{
  border: 1px solid #dc232e;
}

.fa-times:hover, .fa-trash:hover{
  background-color: #dc232e;
  border-color: #dc232e;
}

.ddbb-state{
  text-align: -webkit-center;
  border: 1px solid green;
  background-color: green;
  color: white;
}

.actualizada{
  background-color: green;
}

.actualizando{
  background-color: orange;
}

.error{
  background-color: red;
}
.page{
  background-image: url(https://wallpaperscraft.com/image/dark_spots_texture_background_50355_602x339.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  margin-left: auto;
  margin-right: auto;
  left: 0; right: 0;
}
.card{
  background-color: inherit;
}

.btn{
  margin: 5px;
}
.bando{
  margin-top: 20px;
  border-radius: 50%;
}
.home{
  width: 800px;
  margin:4px auto;
}
.principal{
  height: 550px;
  width: 450px;
  padding: 20px;
}
.title{
  text-align: center;
  font-size: 30px;
  font-family: fantasy;
  font-style: oblique;
}
.portada{
  margin-top: 50px;
  padding: initial;
  vertical-align: initial;
  height: 500px;
  width: 120%;
}
.villano{
  margin-left: 60%;
}
.img-about{
  width: 100%;
  height: 90%;
}
