<div>
    <p class="title">
      Heroes <strong>vs</strong> Villanos
    </p>
    <div class="row">
      <div class="col-md-5">
        <img class="portada heroe" src="https://s-media-cache-ak0.pinimg.com/originals/7d/80/30/7d80303495811362cd554991794e8c0b.png">
      </div>
      <div class="col-md-5">
        <img class="portada villano" src="http://www.loshijosdelrol.com/images//stories/tecnodromo/agosto13/venom_dialog_01.png">
      </div>
    </div>
</div>
